---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='Welcome to Astro.'>
	<main class='flex min-h-screen w-full items-center justify-center'>
		<Card />
	</main>
</Layout>
